body {
    background-color: #e0f0ff; /* azul suave */
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #2a52be; /* cor diferente */
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px; /* espaçamento entre itens */
}

img {
    display: block;
    border-radius: 10px;
    width: 350px;
    margin: 10px 0;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: auto; /* Só ocupa o necessário */
}

td {
  border: 1px solid #ccc;
  padding: 5px 10px; /* Menor espaçamento = tabela mais compacta */
  vertical-align: middle;
}

td:first-child {
  font-weight: bold;
  white-space: nowrap; /* Impede quebra de linha */
}

td:last-child {
  width: 100px; /* Menor largura para coluna das imagens */
  text-align: center;
}

td img {
  width: 700px; /* Tamanho decente para imagem */
  height: auto;
  border-radius: 8px;
}


a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
}

#game-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s ease;
}

#game-link:hover {
  color: #ff6600; /* Uma cor contrastante para destacar no hover */
  text-decoration: underline;
}


h2 {
  margin-top: 30px; /* Espaço entre a tabela e o título do link */
}

